@import '../../global.scss';

.intro{
    background-color: $secondaryColor;
    display: flex;

    .left{
        flex: .5;
        overflow: hidden;

        .imageContainer{
            width: 720px;
            height: 720px;
            background-color: #a0102d;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            // float:right;
            box-shadow: 10px 25px 15px 25px rgba(0,0,0, 0.7);

            img{
                height: 94%;
            }
        }
    }
    .right{
        flex: .5;
        display: relative;

        .wrapper{
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            

            h1{
                font-size: 50px;
                margin: 10px 0;
            }
            h2{
                font-size: 35px;
            }
            h3{
                font-size: 30px;

                span{
                    color: #a0102d;
                    font-size: inherit;
                }

                .ityped-cursor {
                    animation: blink 2s infinite;
                }
                 
                @keyframes blink {
                    50% {
                        opacity: 1;
                    }
                    100% {
                        opacity: 0;
                    }
                }
            }

            a{
                position: absolute;
                bottom: 10px;

                img{
                    width: 60px;
                    
                }
                img:hover{
                    transform: scale(0.950);
                    transition: transform 1.2s ease-in-out;
                    animation: arrowBlink 2s;
                }

                @keyframes arrowBlink {
                    100%{
                        opacity: 0;
                    }
                }
            }
        }
    }
}